<%= form_for([@category, @category.entries.build]) do |f| %>
  <p>
  	<%= f.label :name %><br />
  	<%= f.text_field :name %>
  </p>

  <p>
  	<%= f.label :quantity %><br />
  	<%= f.number_field :quantity %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>