<p id="notice"><%= notice %></p>

<h1>Listing Entries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.name %></td>
        <td><%= entry.quantity %></td>
        <td><%= entry.price %></td>
        <td><%= entry.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
