<%= form_for(@part_name) do |f| %>
  <% if @part_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part_name.errors.count, "error") %> prohibited this part_name from being saved:</h2>

      <ul>
      <% @part_name.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :part-type_id %><br>
    <%= f.number_field :part-type_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
