<p id="notice"><%= notice %></p>

<h1>Listing Part Names</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Part-type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @part_names.each do |part_name| %>
      <tr>
        <td><%= part_name.name %></td>
        <td><%= part_name.part-type_id %></td>
        <td><%= link_to 'Show', part_name %></td>
        <td><%= link_to 'Edit', edit_part_name_path(part_name) %></td>
        <td><%= link_to 'Destroy', part_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Part name', new_part_name_path %>
