<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @part_name.name %>
</p>

<p>
  <strong>Part-type:</strong>
  <%= @part_name.part-type_id %>
</p>

<%= link_to 'Edit', edit_part_name_path(@part_name) %> |
<%= link_to 'Back', part_names_path %>
