<p id="notice"><%= notice %></p>

<hr> 

<div class="view" id="search">
  <input type="submit" name="search" value="Search"> <input type="text">
</div>

<br><br><br>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class=form>

<h1>Parts!</h1>

<table>
  <thead>
    <tr>
      <th>View</th>
      <th>Type</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @part_kinds.each do |part_kind| %>
      <tr>
        <td><%= link_to 'View', part_kind, {:id => "view"} %></td>
        <td><%= part_kind.kind %></td>
        <td><%= part_kind.kind %></td>
      </tr>
              <td><%= link_to 'Show', part_kind %></td>
        <td><%= link_to 'Edit', edit_part_kind_path(part_kind) %></td>
        <td><%= link_to 'Destroy', part_kind, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tbody>
</table>

<br>

      </div>
    </div>
  </div>
</div>
