<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class=form>

<h2>
  Kind:
  <%= @category.kind %>
</h2>

<br> <br>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="response">

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Adjusted Price</th>
      <th>Edit</th>
      <th>More Information</th>
    </tr>
  </thead>

  <tbody>
    <% @category.entries.each do |entry| %>
      <tr>
        <td><%= entry.name %></td>
        <td><%= entry.quantity %></td>
        <td><%= number_to_currency(entry.price) %></td>
        <td><%= number_to_currency(entry.price*(0.30)+entry.price) %></td>
        <td><%= link_to 'Edit', edit_category_entry_path(@category, entry) %></td>
        <td><%= link_to 'Show', category_entry_path(@category, entry) %></td>
      </tr>
    <% end %>
</tbody>

</table>
</div>
</div>
</div>

<br>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
    <div class="break">
      <hr>
    </div>
  </div>
</div>

<h3>Add a Part!</h3>

<%= render '/entries/form' %>

<br>

<%= link_to 'Edit', edit_category_path(@category), :id => 'edit' %>
<%= link_to 'Back', categories_path, :id => 'back' %>

      </div>
    </div>
  </div>
</div>