<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class=form>

<h2>
  Kind:
  <%= @category.kind %>
</h2>

<h3>Part Name</h3>

<div class="response">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
    </tr>
  </thead>

    <tbody>
    <% @category.entries.each do |entry| %>
      <tr>
        <td><%= entry.name %></td>
        <td><%= entry.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
    <div class="break">
      <hr>
    </div>
  </div>
</div>

<h3>Add a Part!</h3>

<div class="field">
<%= render 'entry' %>
</div>

      </div>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
